WebApp/App_WebReferences/smsWebRef/sms.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://service.ws.dahantc.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://service.ws.dahantc.com" targetNamespace="http://service.ws.dahantc.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types />
  <wsdl:message name="deliverRequest">
    <wsdl:part name="message" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="blackListCheckRequest">
    <wsdl:part name="message" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="reportRequest">
    <wsdl:part name="message" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="balanceRequest">
    <wsdl:part name="message" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="blackListCheckResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="deliverResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="keywordcheckResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="submitRequest">
    <wsdl:part name="message" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="balanceResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="keywordcheckRequest">
    <wsdl:part name="message" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="submitResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="reportResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="ISmsService4XML">
    <wsdl:operation name="balance" parameterOrder="message">
      <wsdl:input name="balanceRequest" message="impl:balanceRequest" />
      <wsdl:output name="balanceResponse" message="impl:balanceResponse" />
    </wsdl:operation>
    <wsdl:operation name="deliver" parameterOrder="message">
      <wsdl:input name="deliverRequest" message="impl:deliverRequest" />
      <wsdl:output name="deliverResponse" message="impl:deliverResponse" />
    </wsdl:operation>
    <wsdl:operation name="submit" parameterOrder="message">
      <wsdl:input name="submitRequest" message="impl:submitRequest" />
      <wsdl:output name="submitResponse" message="impl:submitResponse" />
    </wsdl:operation>
    <wsdl:operation name="report" parameterOrder="message">
      <wsdl:input name="reportRequest" message="impl:reportRequest" />
      <wsdl:output name="reportResponse" message="impl:reportResponse" />
    </wsdl:operation>
    <wsdl:operation name="keywordcheck" parameterOrder="message">
      <wsdl:input name="keywordcheckRequest" message="impl:keywordcheckRequest" />
      <wsdl:output name="keywordcheckResponse" message="impl:keywordcheckResponse" />
    </wsdl:operation>
    <wsdl:operation name="blackListCheck" parameterOrder="message">
      <wsdl:input name="blackListCheckRequest" message="impl:blackListCheckRequest" />
      <wsdl:output name="blackListCheckResponse" message="impl:blackListCheckResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SmsService4XMLImplPortSoapBinding" type="impl:ISmsService4XML">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="balance">
      <wsdlsoap:operation soapAction="balance" />
      <wsdl:input name="balanceRequest">
        <wsdlsoap:body use="literal" namespace="http://service.ws.dahantc.com" />
      </wsdl:input>
      <wsdl:output name="balanceResponse">
        <wsdlsoap:body use="literal" namespace="http://service.ws.dahantc.com" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deliver">
      <wsdlsoap:operation soapAction="deliver" />
      <wsdl:input name="deliverRequest">
        <wsdlsoap:body use="literal" namespace="http://service.ws.dahantc.com" />
      </wsdl:input>
      <wsdl:output name="deliverResponse">
        <wsdlsoap:body use="literal" namespace="http://service.ws.dahantc.com" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="submit">
      <wsdlsoap:operation soapAction="submit" />
      <wsdl:input name="submitRequest">
        <wsdlsoap:body use="literal" namespace="http://service.ws.dahantc.com" />
      </wsdl:input>
      <wsdl:output name="submitResponse">
        <wsdlsoap:body use="literal" namespace="http://service.ws.dahantc.com" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="report">
      <wsdlsoap:operation soapAction="report" />
      <wsdl:input name="reportRequest">
        <wsdlsoap:body use="literal" namespace="http://service.ws.dahantc.com" />
      </wsdl:input>
      <wsdl:output name="reportResponse">
        <wsdlsoap:body use="literal" namespace="http://service.ws.dahantc.com" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="keywordcheck">
      <wsdlsoap:operation soapAction="keywordcheck" />
      <wsdl:input name="keywordcheckRequest">
        <wsdlsoap:body use="literal" namespace="http://service.ws.dahantc.com" />
      </wsdl:input>
      <wsdl:output name="keywordcheckResponse">
        <wsdlsoap:body use="literal" namespace="http://service.ws.dahantc.com" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="blackListCheck">
      <wsdlsoap:operation soapAction="blackListCheck" />
      <wsdl:input name="blackListCheckRequest">
        <wsdlsoap:body use="literal" namespace="http://service.ws.dahantc.com" />
      </wsdl:input>
      <wsdl:output name="blackListCheckResponse">
        <wsdlsoap:body use="literal" namespace="http://service.ws.dahantc.com" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SmsService4XMLImplService">
    <wsdl:port name="SmsService4XMLImplPort" binding="impl:SmsService4XMLImplPortSoapBinding">
      <wsdlsoap:address location="http://3tong.net/services/sms" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>